.chart-row {
  border-bottom: 1px solid #b0b8c3;
}

.chart-row-header {
  padding: 4px 8px;
  background: #c4d1d6;
}

@keyframes cursor {
  0% {
    cursor: grab;
  }
  30% {
    cursor: grabbing;
  }
  70% {
    cursor: move;
  }
}

.chart-cell:hover {
  animation: cursor 2s;
  cursor: move;
}

.chart-cell:not(:last-child) {
  border-right: 1px solid #b0b8c3;
}

.chart-cell--weekend {
  background-color: #e7eff3;
}

.chart-cell--today:not(:last-child) {
  border-right: 2px solid #ff67006e;
}

.chart-item {
  position: absolute;
  height: 100%;
  padding: 4px;
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  cursor: move;
}

.chart-item--draft {
  pointer-events: none;
  opacity: 0.5;

  & > .chart-item__title,
  & > .chart-item__user,
  & > .chart-item__handle {
    display: none;
  }
}

.chart-item__title {
  padding-left: 8px;
}

.chart-item__users {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  font-size: 0.6rem;
}

.chart-item__user {
  padding: 0px 2px;
  flex: 1;

  &:first-of-type {
    padding-left: 8px;
  }
}

.chart-item__handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 10px;
  background: rgba(0, 0, 0, 0.2);
  cursor: ew-resize;

  &[data-handle="left"] {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &[data-handle="right"] {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.chart-item:hover .chart-item__handle {
  display: initial;
}
