.chart-row {
  border-bottom: none;
}

.chart-row-header {
  padding: 4px 8px;
  background: #c4d1d6;
}

.chart-cell {
  border: 1px solid black;
}

.chart-cell--weekend {
  @extend .chart-cell;

  background-color: #e7eff3;
}

.chart-item {
  position: absolute;
  height: 100%;
  padding: 4px;
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
}

.chart-item__title {
  padding-left: 10px;
}

.chart-item__user {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  display: inline-block;
  font-size: 0.6rem;
}

.chart-item__handle {
  // display: none;

  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.chart-item:hover .chart-item__handle {
  display: initial;
}
