.date-header {
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 3; // must be greater than item's handles
}

.date-header--weeks {
  height: 30px;
}

.date-header__cell {
  padding: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.date-header__cell:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.date-header__cell--today {
  font-weight: bold;
}
