html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

$gray-100: #333;

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: scroll;
}

.icon-button {
  width: 36px;
  height: 36px;
  background: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.icon-buttons {
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.icon-buttons > .icon-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  :hover {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon-buttons > .icon-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.error-notification {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 80px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;

  background-color: #ffcfca;
  box-shadow: 10px 10px 10px #c78a6e59;
  color: #b51a1a;
  font-size: 1rem;
  font-weight: bold;
  animation: fadeout 5s forwards;
}
